
.top-nav {    
    overflow: hidden;
    background-color: whitesmoke;
    position: relative; 

}

.top-nav #my-links {
    display: none;   
}

.top-nav a {
    color: steelblue;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    
}

.top-nav a.icon {
    background: whitesmoke;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.top-nav a:hover {
    background-color: lightsteelblue;
    color: white;
}

.active {
    background-color: whitesmoke;
    color: white;
}

body {
    background-color: lightseagreen;
}

@media (min-width: 768px) {
    /* 768px */

    .top-nav a.active {
        display: none;
    }

    .top-nav {
        text-align: center;                
    }

    .top-nav a {
        display: inline-block;     
    }

    .top-nav #my-links {
        display: inline-block;      
    }

    .top-nav a.icon {
        display: none;
    }


}

@media (min-width: 1024px) {
    /* .top-nav a.active {
        display: none;
    } */

    /* .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      } */

    .top-nav {
        text-align: center;                
    }

    .top-nav a {
        display: inline-block;     
    }

    .top-nav #my-links {
        display: inline-block;      
    }

    /* .top-nav a.active {
        position: absolute;
        
    } */

    .top-nav a.icon {
        display: none;
    }
}