
* {
    box-sizing: border-box;
  }


#my-links {
    text-align: center;    
    z-index: 2; 
    background-color: white;
}

.top-nav {    
    overflow: hidden;
    color: rgb(0,0,0,.2);
    position: absolute;  
    width: 100%;
    border-bottom: solid rgb(128, 128, 128, .1) 1px;
}

.top-nav #my-links {
    display: none;   
    color: rgb(0,0,0,.2);    
}

.top-nav a {    
    padding: 14px 16px;  
    color: black;  
    text-decoration: none;
    font-size: 17px;
    display: block;  
    transition: .65s; 
    z-index: 1;    
}

#my-links a:hover {
    color: black;
    border-top: solid rgb(128, 128, 128, .2) 1px; 
    border-bottom: solid rgb(128, 128, 128, .2) 1px;    
}


.top-nav a.icon {
    background: white;
    border-radius: 5px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* .top-nav a:hover {
    background-color: lightsteelblue;
    color: white;
} */

.active {
    background-color: white;
    color: white;
}

body {
    background-color: white;
}

.header-logo {
    display: none;                 
}


.header-image img {
    width: 100%;
    text-align: center;
    margin-top: 75px;
}



@media (min-width: 768px) {

    #my-links a:hover {
        border-top: none;
        border-bottom: 2px solid rgb(12, 179, 12);                       
    }

/* This keeps the nav bar from disappearing in tablet and desktop view. */
    #my-links {
        display: inline-block !important;        
    }

    .top-nav a {
        display: inline-block; 
        margin-bottom: 10px;  
        transition: none;  
    }

    .top-nav a.active {
        display: none;
    }

    .top-nav a.icon {
        display: none;
    }

    .top-nav {
        text-align: center ;  
        position: relative;                  
    }

    .header-logo {
        display: block;
        text-align: center;   
        position: relative;                             
    }

    .header-text {
        display: inline-block;        
    }

    .header-image {
        display: inline-block; 
        align-items: right;
        right: 0;


    }
}

/* @media (min-width: 1024px) {

} */









