

#my-links {
    text-align: center;
}

.top-nav {    
    overflow: hidden;
    background-color: white;
    color: black;
    position: relative;     

}

.top-nav #my-links {
    display: none;   
}

.top-nav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    
}

.top-nav a.icon {
    background: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* .top-nav a:hover {
    background-color: lightsteelblue;
    color: white;
} */

.active {
    background-color: white;
    color: white;
}

body {
    background-color: white;
}

@media (min-width: 768px) {

    #my-links a:hover {
        border-bottom: 2px solid rgb(12, 179, 12);    
    }

    #my-links {
        display: inline-block !important;
    }

    .top-nav a {
        display: inline-block; 
        margin-bottom: 10px;    
    }

    .top-nav a.active {
        display: none;
    }

    .top-nav a.icon {
        display: none;
    }

    .top-nav {
        text-align: center ;                  
    }
}

/* @media (min-width: 1024px) {

} */









